html {
    text-align: center;
    font-size: 10px;
  }

  body {
    margin: 0;
    font-size: 2rem;
    background-color:rgb(228, 237, 240);
  }

  .jumbotron {
    margin-bottom: 0;
  }

  .progress {
    border-radius: 0;
  }

  .clock {
    background: url(../images/clock.svg) no-repeat center;
    background-size: 90%;
    width: 30rem;
    height: 30rem;
    border: 20px solid #212529;
    border-radius: 50%;
    margin: 50px auto;
    position: static;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #212529,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transition: all 0.05s;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0,2.28,.41,.24);
  }

  .hour-hand {
    width: 33%;
    left: 17%;
    height: 3px;
  }

  .min-hand {
    height: 4px;
    width: 44%;
    left: 6%;
  }

  .second-hand {
    height: 2px;
    width: 40%;
    left: 10%;
    background-color: red;
  }

  .center-dot {
    position: absolute;
    top: 50%;
    background: black;
    width: 6%;
    height:6%;
    border-radius: 50%;
    left:50%;
    z-index:10;
    transform: translateX(-6px) translateY(-4px);
  }

  .current-temp{
      font-size:5rem;
      position:relative;
      padding-top:60px;
  }

  .temp-holder {
    display: block;
    text-align: center;
  }

  .temp-holder p:nth-child(2){
    font-size: 210px;
    margin-top: 0;
    margin-top:-90px;
    margin-bottom: 1rem;
  }

  .temp-holder p:nth-child(3)  {
    font-size: 5rem;
    margin-top:-60px;
  }

  .temp-holder p:nth-child(4) {
    font-size:5rem;
    margin-top:-30px;
  }

  .five-day {
    text-align: center;
    padding-top:35px;
    margin-bottom: 40px;
  }

  .footer {
    width:100%;
    height:40px;
    position:fixed;
    bottom:0;
    left:0;
    z-index: 1000;
    background-color:rgb(228, 237, 240);
    text-align: center;
    font-size: .8em;
  }